<%= form_with model: article do |form| %>
  <style>
    div { margin: 1em 0; }
  </style>


  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body, rows: 5 %>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>

  <script>
    tinymce.remove('textarea')
    tinymce.init({selector: 'textarea'})
  </script>
<% end %>