<%= form_with model: article do |form| %>
  <style>
    div { margin: 1em 0; }
  </style>


  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body, id: 'tinymcething', rows: 5 %>
    <%= tinymce %>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>

  <script>
    document.addEventListener('turbo:render', () => {
      tinymce.remove('textarea')
      tinymce.init({selector: '#tinymcething'})
    })
  </script>
<% end %>